body {
  min-width: 290px;
  height: 200px;
  max-height: 600px;
  font-family: arial;
  margin: 0px;
  padding: 10px;

}

.QuoteItem {
  clear: both;
  background-color: #fff;  
  min-width: 280px;
  height: 27px;
  border-bottom: 1px dashed #f3f3f3;
  margin: 2px 0;
}

.bgFade {
  -webkit-animation: bgFade 1000ms;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: none;

}
.bgFade2 {
  -webkit-animation: bgFade 1000ms;
  -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes bgFade { /* Safari and Chrome */
    from {
        background-color: #FAF1AC;
    }
    to {
        background-color: white;
    }
}

.LastTradePrice {
  font-size: 13px;
  color: #146495;
  font-weight: bold;
  min-width: 45px;
  height: 17px;
  color: #333;
  padding: 5px;        
  float: left;
}

.ticker {
  font-size: 13px;
  color: #146495;
  font-weight: bold;
  height: 17px;
  float: left;
  min-width: 50px;
  padding: 5px 10px;        
}

.ChangeInPercent {
  font-size: 14px;
  float: left;
  padding: 5px 10px;
  height: 17px;
}

.cancel {
  float: right;
  padding-top: 5px;
  cursor: pointer;        
}

.cancel img {
  width: 15px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.gray {
  color: gray;
}

.TickerInputContainer {
  clear: both;
  background: #fff;
  min-width: 280px;
  height: 35px;
  padding: 10px 10px;
  font-size: 13px;
  color: #333;
  position: relative;
}

.TickerInput {  
  padding: 3px 5px;
  width: 200px;  
  -webkit-border-radius: 5px;
  border: 2px solid #999;
  float: left;
  position: relative;
  z-index: 100;
  outline: none;
  color:#666;
  font-family: arial;
  font-size:11px;
}

.AddButton {
  height: 25px;
  float: left;
  margin:1px 0 0 2px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.TypeAheadContainer {
  position: absolute;
  z-index: 1000;
  height: 15px;
  color:#999;
  font-family: arial;
  font-size:11px;
  margin: 20px 0 0 0px;
  -webkit-border-radius: 0 0 5px 5px;
  width: 200px;
  padding: 5px 5px 0 5px;
  background: #fff;
  border-left: 2px solid #999;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.59, rgb(250,250,250)),
    color-stop(0.8, rgb(255,255,255))
  );
  cursor: pointer;
}

.TypeAheadCompanyName {
  float: left;
  width: 160px;
}

.TypeAheadTickerValue {
  float: right;
}