body {
  min-width: 290px;
  height: 200px;
  max-height: 600px;
  font-family: arial;
  margin: 0px;
  padding: 10px;

}

.QuoteItem {
  clear: both;
  background: #fff;
  min-width: 280px;
  height: 27px;
  border-bottom: 1px dashed #f3f3f3;
  margin: 2px 0;
}

.LastTradePrice {
  font-size: 13px;
  color: #146495;
  font-weight: bold;
  min-width: 45px;
  height: 17px;
  color: #333;
  padding: 5px;        
  float: left;
}

.ticker {
  font-size: 13px;
  color: #146495;
  font-weight: bold;
  height: 17px;
  float: left;
  min-width: 50px;
  padding: 5px 10px;        
}

.ChangeInPercent {
  font-size: 14px;
  float: left;
  padding: 5px 10px;
  height: 17px;
}

.cancel {
  float: right;
  padding-top: 5px;
  cursor: pointer;        
}

.cancel img {
  width: 15px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.gray {
  color: gray;
}

.TickerInputContainer {
  clear: both;
  background: #fff;
  min-width: 280px;
  height: 30px;
  padding: 10px 10px;
  font-size: 13px;
  color: #333;
  position: relative;
}

.TickerInput {  
  padding: 3px 5px;
  width: 200px;
  color:gray;
  font-family: arial;
  font-size:11px;
  -webkit-border-radius: 5px;
  float: left;
  position: relative;
  z-index: 100;
}

.AddButton {
  height: 25px;
  float: left;
  margin:1px 0 0 2px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.TypeAheadContainer {
  position: absolute;
  z-index: 1000;
  height: 50px;
  font-family: arial;
  font-size: 12px;
  color: #333;
  margin: 35px 0 0 15px;
  background: #fff;
}